$black_color: #000;
$white_color: #fff;
$min_color: #d1d0d0;
$sub_color: #5c4e4e;
$sub_color2: #322f36;
$third_color: #1f232c;
$gold_color: #ecab24;

$fr_font: "El Messiri", sans-serif;
$sc_font: "Tajawal", sans-serif;
